body {
  background-image: url(img/image0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.activity {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}